* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --branding-color: #ff7f50;
  --secondary-color: cornsilk;
  --highlight-color: #d2691e;
  --muted-color: #a9a9a9;
  --level1: 1px;
  --level2: 5px;
  --level3: 10px;
  --level4: 15px;
  --level5: 20px;
  --small: 12px;
  --medium: 16px;
  --large: 20px;
  --extra-large: 30px;
  --double-extra-large: 50px;
  --triple-extra-large: 30px;
}

.introduction {
  color: var(--secondary-color);
  padding: var(--Level2);
}

h1 {
  color: var(--branding-color);
  font-size: var(--triple-extra-large);
}
